$font-main: "Poppins", sans-serif;
$font-secondary: "Gudea", sans-serif;

// colors
$primary: #44174e;
$secondary: #201d38;
$gradient: #7D2B5A;
$innerBg: #eeebee;
$white: #ffffff;
$orange: #fb8245;
$pink: #9e3e52;
$lpurple: #c6bdd7;
$xlpurple: #e2dfe9;
$lpink: #efe5f1;
