$font-main: "Poppins", sans-serif;
$font-secondary: "Gudea", sans-serif;

.title1 {
  font-family: $font-main;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 1.3px;
}

.subtitle1 {
  font-family: $font-main;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1.3px;
}

.content1 {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 6px;
}

.title2 {
  font-family: $font-main;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
}

.subtitle2 {
  font-family: $font-main;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
}

.content2 {
  font-family: $font-secondary;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}

.subtitle3 {
  font-family: $font-main;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}

.content3 {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
}

.info {
  font-family: $font-secondary;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  font-style: italic;
}
