@use "sass:color";
@use "./variables" as *;
@use "./mixins" as *;
@use "./breakpoints" as *;
@use "./font" as *;

.inputFormFull {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid $primary;
  background: transparent;
  width: fit-content;
  height: 50%;
  max-height: 32px;
  min-width: 400px;
  padding: 2px 3px;

  label {
    color: $primary;
    margin-bottom: 4px;
  }

  &:focus-within {
    border: 2px solid $primary;
  }

  input {
    @extend .content3;
    width: 80%;
    padding: 4px 4px;
    padding-left: 8px;
    background: transparent;
    color: $primary;
    outline: none;
    transition: all 0.3s ease;

    &::placeholder {
      @extend .info;
      color: rgba(30, 30, 45, 0.4);
      transition: opacity 0.2s ease;
    }

    // pas user ngetikkk
    &:focus::placeholder,
    &:not(:placeholder-shown)::placeholder {
      opacity: 0;
    }

    &.error {
      border-color: #c91818;
      color: #c91818;
      @include shake();
    }
  }

  // pesan error
  .errorText {
    @include shake();
    margin-top: 4px;
    font-size: 13px;
    color: #c91818;
    font-style: italic;

    animation: fadeIn 0.3s ease forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-2px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

.inputFormOutline {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 280px;

  label {
    color: $primary;
    margin-bottom: 4px;
  }

  input {
    @extend .content3;
    border: none;
    border-bottom: 2px solid $primary;
    padding: 8px 0;
    background: transparent;
    color: $primary;
    outline: none;
    transition: all 0.3s ease;

    &::placeholder {
      @extend .info;
      color: rgba(30, 30, 45, 0.4);
      transition: opacity 0.2s ease;
    }

    // pas user ngetikkk
    &:focus::placeholder,
    &:not(:placeholder-shown)::placeholder {
      opacity: 0;
    }
    &:focus {
      border-color: #44174e;
    }
    &.error {
      border-color: #c91818;
      color: #c91818;
      @include shake();
    }
  }

  // pesan error
  .errorText {
    @include shake();
    margin-top: 4px;
    font-size: 13px;
    color: #c91818;
    font-style: italic;

    animation: fadeIn 0.3s ease forwards;

    @keyframes fadeIn {
      from {
        opacity: 0;
        transform: translateY(-2px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}
