@use "./variables" as *;
@use "./font";
@use "./button";
@use "./card";
@use "./form";
@use "./dropdown";
@use "../styles/main";

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1.3px;
  background: $white;
  color: $secondary;
  overflow-x: hidden;
  overflow-y: auto;
}
